aside {
    width: 20%;
    padding: 20px;
    border-left: 1px solid #ccc;
    background-color: #333;

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}