.main {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-right: 2%;

    aside {
        display: table-cell;
        width: 15%;
        vertical-align: top;
        background-color: #f4f4f4;
        padding: 10px;
    }

    section {
        display: table-cell;
        width: 80%;
    }
}