footer
  display flex
  justify-content center
  position relative
  height 200px
  width 100%
  background-color #333
  padding 30px
  margin-top 3%

  ul
    display grid
    grid-template-columns repeat(3, 1fr)
    gap 10px
    width 700px
    height 100px

    li
      display flex
      justify-content center
      align-items center
      text-align center
      border 1px solid white
      border-radius 5px

      a
        display inline-block
        width 100%
        transition all 0.25s ease-in-out

      a:hover
        color pink
