body
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  font-family 'Roboto', sans-serif
.container
  padding-inline 40px

h2
  font-size 24px
  font-weight 700
  margin-bottom 20px
