* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h2 {
    color: white;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

main {
    position: relative;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-row: auto;
    padding-inline: 20px;
}

img {
    margin-top: 10px;
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 100px;
    padding-inline: 10px;
}

article h1 {
    margin-top: 10px;
    font-size: 24px;
    text-align: center;
}

.description {
    margin-top: 10px;
    font-size: 16px;
    margin: 20px;
    color: #000;
    margin-bottom: 10px;
}

article {
    display: flex;
    flex-direction: column;
}

.panel {
    position: sticky;
    z-index: 1;
    top: 111px;
    border: 1px solid #000;
    border-radius: 5px;
    max-height: calc(100vh - 111px - 52px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    padding-bottom: var(--footer-height);
}

.panel1 {
    grid-column: 1;
}

.panel-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.panel-list li a {
    color: #000;
    transition: all 0.25s ease-in-out;
}

.panel-list li a:hover {
    opacity: 0.7;
}

.panel2 {
    grid-column: 3;
}

footer {
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #333;
    color: white;
    height: 40px;
}

footer p {
    margin: auto 0 auto 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 10px;
    background-color: #333;
    padding-inline: 20px;
}

.header-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo svg {
    fill: #000;
    width: 30px;
}

.logo h1 {
    font-size: 24px;
}

.search-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid black; 
    margin: 0;
}

.search-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form.example input[type=text] {
    flex: 3;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    box-sizing: border-box;
    margin: 2px;
    outline: 0;
}

form.example button {
    flex: 1;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 2px;
    width: 30px;
}

form.example button:hover {
    background: #d3d2d1;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.container1 {
    display: flex;
}

.lines i{
    display: none;
    fill: #000;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    margin: 13px 15px;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 5px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.list {
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 0 100px;
}

.link {
    color: #000;
    font-weight: bold;
    transition: all 0.25s ease-in-out;
}

.link:hover {
    color: #000;
    opacity: 0.7;
}

@media (max-width: 650px) {
    .panel {
        display: none;
    }
}

@media (max-width: 850px) {
    .lines i{
        display:block;
    }

    .search-container form{
        flex-wrap: nowrap;
    }

    .list {
        gap: 25px;
    }

    form.example input[type=text] {
        width: 30%;
    }
}

@media (max-width: 400px) {
    .lines i{
        display: block;
    }

    .list {
        gap: 5px;
    }
}

@media (max-width: 850px) {
    main {
        grid-template-columns: 150px 1fr 150px;
    }
}

@media (max-width: 650px) {
    main {
        grid-template-columns: 1fr;
    }
}


