.search-container {
    position: relative;

    input {
        padding-left: 10px;
        padding-right: 30px;
        width: 1000px;
        height: 30px;
        border: 1px solid #ddd;
    }

    input:focus {
        outline: none;
        border-color: #007BFF;
    }

    i {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: #007BFF;
        cursor: pointer;
    }
}