.main {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-right: 2%;
}

.main aside {
    display: table-cell;
    width: 15%;
    vertical-align: top;
    background-color: #f4f4f4;
    padding: 10px;
}

.main section {
    display: table-cell;
    width: 80%;
}