@media (max-width: 450px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .btn-register {
        width: 100%;
        font-size: 16px;
        margin-top: 2%;
    }

    .info .btn-register {
        margin-bottom: 2%;
    }

    .info-panel {
        grid-template-columns: 1fr;
    }

    .info-img {
        height: 200px;
    }

    .info h1 {
        font-size: 24px;
    }

    .info p {
        font-size: 18px;
    }

    .container {
        padding: 20px;
    }

    .info2-list {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .info2 .btn-register {
        width: 100%;
    }

    .guide ul {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .guide .btn-register {
        width: 100%;
    }

    footer {
        height: 260px;
    }

    footer ul {
        width: 100%;
        margin-top: 10%;
        padding: 5px;
    }

    .footer-menu {
        width: 100%;
        margin-bottom: 10px;
    }

    .footer-menu a {
        font-size: 16px;
        padding: 10px 0;
    }
}