footer {
    display: flex;
    justify-content: center;
    position: relative;
    height: 200px;
    width: 100%;
    background-color: #333;
    padding-top: 30px;
}

footer .logo {
    position: absolute;
    top: 0px;
    left: 10px;
    padding-top: 20px;
}

footer .logo i {
    margin: auto;
}

footer ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 700px;
    height: 100px;
}

.footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
}

.footer-menu a {
    display: inline-block;
    width: 100%;
    transition: all 0.25s ease-in-out;
}

.footer-menu a:hover {
    color: pink;
}