.info2-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.info2-list li {
    padding: 10px;
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
}

.info2-list li h2 {
    margin-bottom: 10px;
}

.info2-list li p {
    margin-bottom: 30px;
}

.info2-list li p:last-child {
    margin-bottom: 70px;
}