html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #333;
}

li:hover {
    transform: translateX(5px);
}

h4 {
    width: 40%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 0.8;
}

header, section {
    margin: 10px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    border: 1px solid #ddd;
}

.catalog {
    display: block;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    width: 15%;
    font-weight: 700;
}

.search-container {
    position: relative;
}

header button {
    height: 30px;
}

.search-container input{
    padding-left: 10px;
    padding-right: 30px;
    width: 1000px;
    height: 30px;
    border: 1px solid #ddd;
}

.search-container input:focus {
    outline: none;
    border-color: #007BFF;
}

.search-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #007BFF;
    cursor: pointer;
}

.main {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-right: 2%;
}

.main aside {
    display: table-cell;
    width: 15%;
    vertical-align: top;
    background-color: #f4f4f4;
    padding: 10px;
}

.main section {
    display: table-cell;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100px;
}

td img {
    width: 200px;
    height: 200px;
    background-color: #f0f0f0;
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
}

td button {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    height: 40px;
    margin: auto 0 auto 0;
}

.item-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

button {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 2px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #ddd;
    font-size: 14px;
}

.catalog {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.catalog li:last-child {
    margin-bottom: 0;
}

.catalog a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.catalog a:hover {
    background-color: #333;
    color: #fff;
}

@media (max-width: 768px) {
    .main {
        display: block;
    }

    .main aside, .main section {
        display: block;
        width: 100%;
    }

    table, td {
        width: 125%;
        display: block;
        border: none;
    }

    td {
        margin-bottom: 20px;
    }

    td img {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 480px) {
    header {
        gap: 10px;
    }

    .search-container input {
        width: 180px;
        margin: 0 0 0 90px;
    }

    footer {
        font-size: 12px;
    }

    button {
        width: 100px;
    }
}

  